body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 10%;
    padding-right: 10%;
  }
  
  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #4ebce7;
    color: white;
  }
  
  .vl {
    border-left: 6px solid rgb(0, 0, 0);
    height: 47.5vi;
    border-right: 6px solid rgb(0, 0, 0);
    flex-grow: 10;
  }

  .h2 {
    padding: 0;
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(209, 237, 241);
    color:black;
    text-align: center;

  }

  /* Use the full height of the viewport */
  .container {
    display: flex;
    height: 100vh; /* vh is the viewport height */
}

/* Vertical lines */
.line {
    flex-grow: 1; /* Allows lines to fill the container */
    border-left: 2px solid black; /* Creates the line */
}

/* Optional: Just to demonstrate that the lines stretch to the bottom */
.content {
    flex-grow: 10; /* Takes up more space than the lines */
}
  

.pass {
  width: 12%;
  color: rgb(38, 50, 56);
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 1px;
  background: rgba(136, 126, 126, 0.04);
  padding: 8px 14px;
  border: none;
  border-radius: 20px;
  outline: none;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.02);
  margin-bottom: 10px;
  margin-left: 5px;
  text-align: left;
  }

  .submit {
    cursor: pointer;
      border-radius: 5em;
      color: #fff;
      background: linear-gradient(to right, #4ebce7, #1186e6);
      border: 0;
      padding-left: 30px;
      padding-right: 30px;
      padding-bottom: 10px;
      padding-top: 10px;
      margin-left: 0%;
      font-size: 18px;
      box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
  }

  .un {
    width: 40%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    margin-left: 5px;
    text-align: left;
    margin-bottom: 27px;
    }